
.header {
  font-family: "Roboto", sans-serif;
  background: #d58993;
  padding: 20px 0 0 0;
  width: 100%;
}
.header__wrapper {
  max-width: 1080px;
  margin: auto;
}
.header__label {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 36px;
}
